/* src/components/AppLayout.css */
.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; /* Adjust based on your navbar height */
    width: 100%;
  }
  