/* Home.css */

.home-background {
    background-image: url('../../Assets/Images/computertest.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    height: 100vh; /* Full viewport height */
    width: 220vh; /* Adjust as needed */
    color: white; /* Text color */
    font-weight: bold;
    font-size: 40px; 
    display: flex; /* Flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .home-background {
      font-size: 30px;
      padding: 10px;
    }
  }
  
  /* Media query for screens smaller than 480px */
  @media (max-width: 480px) {
    .home-background {
      font-size: 20px;
      padding: 5px;
    }
  }
  