/* src/components/Navbar.css */

.navbar {
  background-color: grey;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  height: auto; /* Adjust height as needed */
  display: flex; 
  justify-content: left; /* Align items to the start */
  align-items: center; /* Center items vertically */
  
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align items horizontally */
  gap:1rem;
 
}

.navbar-link {
  
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  padding: 0.5rem 0rem;
  color:white;
  transition: background-color 0.3s ease-in-out;
}


.navbar-links.active-link {
  background-color: rgba(77, 14, 195, 0.1); /* Highlight on hover or when active */
}
