.register-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Blurred background effect */
.register-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../Assets/Images/signupimg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); /* Adjust the blur amount */
  z-index: -1; /* Ensure it stays behind the form */
  transform: scale(1.1); /* Optional: slight scaling to cover edges */
}

/* Form wrapper */
.register-form-wrapper {
  z-index: 1; /* Ensure the form is above the background */
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styling */
.register-form {
  max-width: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 { 
  text-align: center;
  margin-bottom: 20px;
}

.register-form-button {
  width: 100%;
}

.already-register {
  font-size: medium;
  text-decoration: none;
  text-align: center;
}

.radio-group{
  align-items: center;
  gap: 5px;
}
