.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 23px; /* Adjust the gap between the cards as needed */
}

.card-container {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.card-cover img {
  width: 100%;
  height: auto;
  display: block;
}

.card-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #f0f0f0;
}

.meta-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.meta-avatar {
  margin-right: 10px;
}

.meta-title {
  font-size: 16px;
  font-weight: bold;
}

.icon {
  margin-right: 820px; /* Adjust space between the icon and the title */
}

.add-user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  border: none;
  background: grey;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-user-button:hover {
  background-color: #f0f0f0;
}

.already-register h5 {
  margin-top: 10px;
  text-align: center;
}
