html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  
}

.dashboard-content {
  flex: 1; /* This makes the content area take up the remaining space */
  display: flex;
  flex-direction: column;
}

.dashboard-inner-content {
  flex: 1; /* Fill remaining space */
  padding: 20px;
  background: var(--colorBgContainer);
  border-radius: var(--borderRadiusLG);
}

.dashboard-footer {
  text-align: center;
  width: 87%;
  /* background: var(--colorBgContainer); */
  /* padding: 20px; */
  padding-left: 15px;
  position: absolute;
  bottom: 0;
}

.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 667px; /* Padding from left side */
  background: whitesmoke; /* Same background color as Sider */
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
}

.header-title {
  color: black;
  font-size: 24px;
   text-align: center; 
   
}

.logout-button {
  margin-left: 480px; /* Push logout button to the right */
  display: flex;
  }

  .custom-menu{
    margin-top: 30px; /* Add margin-top to create space from the top */
  }

  .header-content-right {
    display: flex;
    /* align-items: right; */
    margin-left: 620px;
    gap: 0px; /* Adjust gap as needed */
  }

  .custom-avatar-icon {
    color: navy; /* Set your desired color */
  }
  