html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
   /* justify-content:center;  */
}
.login-wrapper {
    display: inline;
    justify-content: center;  
     align-items: center; 
    height: 100vh; /* Full viewport height */
    background-color: #f4f4f4; /* Light grey background */
     padding-left: 10%;
     
    width: 70vh;
    
    
  } 
  
  .login-form {
    width: 100%;
    justify-content: center; 
    max-width: 400px; /* Max width for the form */
    background-color: #fff; /* White background for the form */
    padding: 30px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    margin: 150px; /* Added margin for spacing */
    
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Dark grey color for the title */
  }
  
  .login-form .ant-input {
    height: 40px; /* Increased height */
    padding: 10px;
    border-radius: 4px; /* Slightly rounded corners */
    border: 1px solid #d9d9d9; /* Light border color */
    font-size: 16px;
  }
  
  .login-form .ant-input-affix-wrapper {
    display: flex; /* Use flexbox for icon and input */
    align-items: center; /* Align items vertically */
    height: 40px; /* Match input height */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9; /* Light border color */
  }
  
  .login-form .ant-input::placeholder {
    color: #999; /* Light grey placeholder text */
    margin-left: 8px; /* Adjusted margin */
  }
  
  .login-form .ant-input:focus,
  .login-form .ant-input-affix-wrapper:focus {
    border-color: #1890ff; /* Blue border on focus */
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); /* Blue shadow on focus */
  }
  
  .login-form .ant-btn {
    width: 100%; /* Full width button */
    height: 40px; /* Consistent height */
    background-color: #1890ff; /* Blue button background */
    color: white; /* White text */
    border: none;
    border-radius: 4px; /* Rounded corners */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-form .ant-btn:hover,
  .login-form .ant-btn:focus {
    background-color: #40a9ff; /* Lighter blue on hover */
  }
  
  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper {
    border-color: #ff4d4f; /* Red border for error */
  }
  
  .ant-form-item-explain-error {
    color: #ff4d4f; /* Red text for error message */
  }
  
  /* Additional styles for remember me and forgot password */
  .login-form .rem-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px; /* Adjusted margin for spacing */
  }
  
  .login-form .rem-forgot label {
    margin-bottom: 0; /* Remove default margin */
  }
  
  .login-form .rem-forgot a {
    margin-left: auto; /* Push forgot password link to the right */
    color: #1890ff; /* Blue color for the link */
  }
  
  .login-form .register-link {
    text-align: center;
    margin-top: 12px; /* Adjusted margin for spacing */
  }
  
   .forgot-passwrd{
    margin-left: auto; /* Push forgot password link to the right */
    color: #1890ff;
  }

  .register-link a {
    color: #1890ff; /* Blue color for the link */
  }
  
  .register-link a:hover {
    text-decoration: underline; /* Underline on hover */
  }
