/* forgot.css */

/* Wrapper to center the form on the page */
.forgot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 20vh; /* Ensure full height centering */
  background-color: #f0f2f5; /* Light background */
}

/* Wrapper for form styling */
.forgotpassword-wrapper {
  background: white; /* Background color for the form */
  padding: 20px; /* Increase padding around the form */
  border: 1px solid #d9d9d9; /* Border around the form */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the form */
  max-width: 500px; /* Increase maximum width for the form */
  width: 100%; /* Take full width of the container */
}

/* Title styling */
.forgotpassword-wrapper h3 {
  margin-bottom: 32px; /* Increase space between title and the input field */
  text-align: center; /* Center align the title */
  font-size: 1.5em; /* Increase the font size */
  
}

/* Space below the input field */
.forgot-password .ant-form-item {
  margin-bottom: 24px; /* Increase space between form items */
  padding:1px;
  width: 35vh;
}



/* Button styling */
.reset-password-button {
  width: 100%; /* Make the button full width */
}
